* {
  margin: 0px;
  list-style: none;
  text-decoration: none;
  padding: 0px;
  font-size:10px;
  
}

img {
  display: block;
  max-width: 100%;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 80vw;
  flex-shrink:0;
  max-width: 80rem;
  margin: 0 2rem;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8);
  transition: .9s;
}

.slide-wrapper {
  overflow: hidden;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top:2rem;
}

[data-control="slide"] li a {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: #fb5;
  border-radius: 50%;
  text-indent: -999px;
  overflow: hidden;
  margin: 0.5rem;
}

[data-control="slide"] li.active a, [data-control="slide"] li a:hover {
  background: #e54;

  
}